body{
    text-align: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 10px;
}
.btncontainer{
    display: flex;
    justify-content: center;
}
.red{
    background-color: brown;
}
.yellow{
    background-color: blanchedalmond;
}
.green{
    background-color: aquamarine;
}
.purple{
    background-color: darkorchid;
}

.flash
{
    background-color: white;
}